<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coletor de Lixo</title>

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Styles.Render("~/Content/Css")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
